@page "/app/settings/hotkeys"
@using ShuShuscanner.Components;
@inject SettingsVM SettingsVM
@inject IJSRuntime JSRuntime
@inject LocalizationService Localizer
@implements IDisposable

<div>
    <MudGrid Class="pa-0 ma-0" Spacing="0" Style="height: 100%;">
        <MudItem xs="12">
            <MudPaper Class="align-center justify-center pa-2 mx-2 mb-2" Elevation="2">
                <MudStack Spacing="1" AlignItems="AlignItems.Stretch">
                    <MudText>@Localizer["OpenWiki"]</MudText>
                    <HotkeySelector></HotkeySelector>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="align-center justify-center pa-2 mx-2 mb-2" Elevation="2">
                <MudStack Spacing="1" AlignItems="AlignItems.Stretch">
                    <MudText>@Localizer["OpenTarkovDev"]</MudText>
                    <HotkeySelector></HotkeySelector>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="align-center justify-center pa-2 mx-2 mb-2" Elevation="2">
                <MudStack Spacing="1" AlignItems="AlignItems.Stretch">
                    <MudText>@Localizer["FavoriteItem"]</MudText>
                    <HotkeySelector></HotkeySelector>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex align-center justify-center mx-2 mb-1">
                <MudText Typo="Typo.subtitle1" Color="Color.Inherit">@Localizer["TarkovTrackerTitle"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="align-center justify-center pa-2 mx-2 mb-2" Elevation="2">
                <MudStack Spacing="1" AlignItems="AlignItems.Stretch">
                    <MudText>@Localizer["AddItem"]</MudText>
                    <HotkeySelector></HotkeySelector>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="align-center justify-center pa-2 mx-2 mb-2" Elevation="2">
                <MudStack Spacing="1" AlignItems="AlignItems.Stretch">
                    <MudText>@Localizer["RemoveItem"]</MudText>
                    <HotkeySelector></HotkeySelector>
                </MudStack>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {

    protected override void OnInitialized()
    {
        SettingsVM.PropertyChanged += PropertyChangeHandler;
    }

    private async void PropertyChangeHandler(object? sender, EventArgs e)
    {
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        SettingsVM.PropertyChanged -= PropertyChangeHandler;
    }
}
